.lista {
    margin: 20px;
    background-color: rgb(84, 132, 163);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    max-height: 600px;
    overflow-y: auto;
}

.titulo-lista {
    margin-top: 0;
    font-weight: bold;
    font-size: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 97%;
}

th,
td {
    text-align: left;
    padding: 5px;
    border: 2px solid #ccc;
    font-size: 14px;
}

th {
    background-color: #264d81;
    color: #f0f5f1;
}

tr{
    background-color: #a2c1e9;
}

tr:nth-child(even){
    background-color: #315f9c;
}

@media screen and (max-width: 1024){
    .lista{
        max-height: calc(100vh - 40px);
        overflow: auto;
        max-height: 300px;
    }
}